[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "lib/range-v3"]
	path = lib/range-v3
	url = git@github.com:ericniebler/range-v3.git
